<div class="container-fluid">
    <div class="row">
        <h3 class="mb-3" id="hp">I Solemnly Swear That I Am Up to No Good...</h3>
        <div class="row mb-4 mt-4">
            <div class="col-xl-4 mt-4 card-body" id="intro">
                <blockquote class="blockquote mb-0">
                    <p>"Good luck, Harry," he murmured.
                        He turned on his heel and with a swish
                        of his cloak, he was gone.
                        A breeze ruffled the neat hedges of Privet Drive, which lay silent and
                        tidy under the inky sky, the very last place you would expect
                        astonishing things to happen.
                        Harry Potter rolled over inside his
                        blankets without waking up.
                        One small hand closed on the letter beside
                        him and he slept on, not knowing he was special, not knowing he was
                        famous, not knowing he would be woken in a few hours' time by Mrs.
                        Dursley's scream as she opened the front door to put out the milk
                        bottles, nor that he would spend the next few weeks being prodded and
                        pinched by his cousin Dudley... He couldn't know that at this very
                        moment, people meeting in secret all over the country were holding up
                        their glasses and saying in hushed voices: "To Harry Potter — the boy
                        who lived!"
                    </p>
                    <br>
                    <footer class="blockquote-footer"> J.K. Rowling in
                        <cite title="HP"> Harry Potter and Philosopher's Stone </cite>
                    </footer>
                </blockquote>
            </div>
            <div class="col-xl-4 pt-5" id="img">
                <img src="https://static.wbo24.co.uk/data/articles/s4_fani_harrego_pottera_sa_zaskoczeni_tajna_scena_seksu_w_filmie_1590748053_2879.jpg"
                    alt="" height="300" width="450">
            </div>
        </div>
        <div class="container bg-primary">
        </div>