<div class="container-fluid">
    <div class="row">
        <h3 class="mb-3" id="hp">I Solemnly Swear That I Am Up to No Good...</h3>
        <div class="row mb-4 mt-4">
            <div class="col-md-5 mt-5" id="intro">
                Przodkiem kota domowego jest kot nubijski – według poglądów większości współczesnych naukowców różnice
                pomiędzy kotem domowym i nubijskim są tak niewielkie, że należą one do tego samego podgatunku. Istnieją
                rozbieżności w kwestii daty udomowienia kota. Większość źródeł sugeruje lata 4000–3700 p.n.e., a
                miejscem, w którym miało do tego dojść, była Nubia. Istnieją jednak dowody (grób mężczyzny z kotem[7] z
                Cypru sprzed ok. 7500 r. p.n.e.), że domestykacja kota zaczęła się znacznie wcześniej i trwała kilka
                tysięcy lat, a jej miejscem był obszar Żyznego Półksiężyca. Już ok. 2000 r. p.n.e. kot był pospolicie
                hodowany w starożytnym Egipcie, gdzie był zwierzęciem świętym, utożsamianym z boginią Bastet, a zwłoki
                kotów mumifikowano. Również Germanie kojarzyli go ze swoją boginią płodności Freją, która jeździła
                powozem zaprzężonym w te zwierzęta. Później zaczęto wykorzystywać go do tępienia gryzoni. Od momentu
                swego udomowienia kot stał się bohaterem licznych baśni i mitów.

                Wyhodowano wiele ras kota domowego, różniących się ubarwieniem, wielkością i długością włosów;
                współczesne wzorce niektórych starszych ras znacznie odbiegają od ich wcześniejszych cech (jak w
                przypadku kotów perskich czy syjamskich). Znaczna liczba kotów domowych żyje samodzielnie w miastach (w
                Polsce są to tzw. koty piwniczne lub dachowce).
            </div>
            <div class="col-md-4" id="img">
                <img src="https://static.wbo24.co.uk/data/articles/s4_fani_harrego_pottera_sa_zaskoczeni_tajna_scena_seksu_w_filmie_1590748053_2879.jpg" alt=""
                    height="500" width="750">
            </div>
        </div>
        <div class="container bg-primary">
        </div>