<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Nav</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="onas">About Us</a>
  </li>
</ul>



<div class="container">
  <div class="row justify-content-between gx-5">
    <div class="col-sm-3 text-center mt-3 p-3 bg-light border border-dark rounded shadow">
    <img class="w-50 p-1" src="https://vetexpert.eu/sklep/391-large_default/urinovet-cat-dilution-preparat-na-uklad-moczowy-dla-kotow.jpg">
    </div>
    <div class="col-sm-3 text-center mt-3 p-3 bg-light border border-dark rounded shadow">
      The second of three columns
    </div>
    <div class="col-sm-3 text-center mt-3 p-3 bg-light border border-dark rounded shadow">
      The third of three columns
    </div>
  </div>
</div> 
<router-outlet></router-outlet> 