h1 {
  text-align: center;
  position: relative;
  padding-top: 4%;
  background-color: #ffffff;
}

h3 {
  text-align: center;
  padding-top: 2%;
}

.col {
  padding-top: 3%;
  text-align: justify;
  justify-content: space-between;
}

#mainNavbar {
  font-size: 1.5rem;
  padding-bottom: 1%; 
}

#navLinks {
  display: inline;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: justify;
  justify-content: space-between;
}

nav {
  background-color: black;
}

.btn {
  text-align: center;
}

.nav-link {
    text-align: center;
}


#intro {
    margin-left: 5%;
}

#img {
  margin-left: 5%;
}

#hp {
  font-weight: bold;
  font-size: 300%;
  font-family: 'Beau Rivage', cursive;
}

/* You can add global styles to this file, and also import other style files */
