
* {font-family: 'Amiri', serif;
}

h1 {
    text-align: center;
}


.nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', cursive;
    text-transform: capitalize;
}

.col {
    text-align: justify;
    justify-content: space-between;
}    

.lily {
    margin-left: 25%;
}



#intro {
    background-color: #ffffff;
}



/* You can add global styles to this file, and also import other style files */
