
* {font-family: 'Amiri', serif;
}

h1 {
    text-align: center;
    position: relative;
    padding-top: 3%;


}


.nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', cursive;
    text-transform: capitalize;
}

.col {
    padding-top: 3%;
    text-align: justify;
    justify-content: space-between;
}    

.lily {
    margin-left: 25%;
}



#intro {
    background-color: #ffffff;
}

#mainNavbar {
    font-size: 1.5rem;
}


.navbar {
    display: flex; 
    flex-wrap: wrap;
    align-items: justify;
    justify-content: space-between;
}

nav {
    background-color: #77285d;
}

.btn {
    text-align: center;
}


/* You can add global styles to this file, and also import other style files */
